* {
    box-sizing: border-box;
}

body {
    background: #f6f8f5;
}

.container {
    display: flex;
    justify-content: space-around;
}

/* ______________________________ */

img {
    width: 300px;
    padding: 5px 0 0 0;
}

#inputText {
    color: #61be03;
}

#buttonCat {
    background: #61be03;
}

/* ______________________________ */

.left {
    width: 550px;
}

.right {
    width: 300px;
}

#module5 button {
padding: 3px 0;}

#formForText {
    display: block;
    width: 300px;
    margin: 20px 0;
}

#module5 h2 {
    text-align: center;
}

#module5 button {
    display: block;
    width: 300px;
}

.simvol {
    margin: 0 0 20px 0;
}
